<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <h1>Banana</h1>
    {{name}} {{santa}}
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe ab ducimus placeat nostrum architecto quos, pariatur dolorem sed possimus. Eveniet tempora blanditiis deleniti cum corporis dicta eligendi commodi in quisquam!Facere quibusdam fugiat repudiandae maiores. Pariatur corporis maxime ullam minus omnis officiis, beatae animi cumque, soluta aliquid asperiores fugit laborum! Sed unde voluptatibus id eos ipsa quisquam blanditiis corporis temporibus.</p>
    {{footer}}
</body>
</html>