<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Welcome to {{title}}, {{name}}.</h1>
    </header>
    <main>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed cupiditate voluptas expedita temporibus. Fugiat dolore voluptas consequuntur quo sequi aut, unde quos necessitatibus distinctio sint sapiente est dolorum deserunt aliquam.
        Quasi accusantium qui possimus quas nostrum odio eaque consequuntur tempore sed minima quae eligendi alias, modi similique repellat ratione explicabo velit delectus, deserunt nobis inventore adipisci consectetur doloremque! Nostrum, nam.
        Minus omnis ad eveniet! Non, voluptatibus aut. Tenetur incidunt ipsum repudiandae autem quos, mollitia, error accusamus voluptates quo odit maiores deserunt. Praesentium optio aspernatur repellat qui non sunt commodi adipisci!
        Est ratione blanditiis cumque ab nihil provident debitis itaque temporibus. Accusantium dolorum iusto, voluptatem velit cumque maxime minima, mollitia repudiandae at numquam ipsum tenetur repellat blanditiis fugit nemo necessitatibus ea.
        Modi obcaecati libero amet corrupti qui commodi error dolor, cumque suscipit dolore necessitatibus repellat, illo impedit culpa! Fugiat incidunt, non suscipit facere odit illo, pariatur corporis voluptate dolor voluptatibus nostrum!</p>
    </main>
    <p>{{today}}</p>
    {{> footer}}
</body>
</html>