<footer>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, ipsum? Ipsum repudiandae perferendis illo beatae iure debitis quia esse, nulla excepturi, rem, dicta repellat quam sint tempore obcaecati? Accusantium, itaque!</p>
</footer>